.eye {
	background-color: var(--coffee-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

.pencil {
	background-color: #3c393b;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

.trash {
	background-color: #ea4744;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}
